MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/<database>?retryWrites=true&w=majority
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BRAND_ORANGE=#EE7429
NEXT_PUBLIC_BRAND_GOLD=#FCCB11
ADMIN_ACCESS_CODE=YOUR_ADMIN_ACCESS_CODE_HERE
SESSION_SECRET=YOUR_32_CHARACTER_SESSION_SECRET_HERE

# Payments
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY

# Maintenance Mode (true to show maintenance page, false or remove to show main site)
MAINTENANCE_MODE=false
